/* Updated CSS */
:root {
    --primary-color: #d74972;
    /* Define more variables as needed */
}

/* Reset some default styles for better consistency */
* {
    box-sizing: border-box;
}

/* Set the background color for the entire body */
body {
    margin: 0; /* Remove default margin for the body */
    padding: 0; /* Remove default padding for the body */
    overflow: hidden; /* Prevent horizontal scrollbar from appearing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the body height to 100% of the viewport height */
    background-color: var(--primary-color);
    background-image: url('/images/shrimpbg1920.png');
    background-size: 100vh; /* Scale the background image to cover the entire viewport */
    background-repeat: no-repeat;
    background-position: center center;
}

header {
    color: var(--text-color);
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
}

/* BEM Naming Convention Example */
.header-title {
    font-size: 24px;
}

/* Add more CSS styles as needed */

/* Media Query for Responsiveness */
@media screen and (max-width: 768px) {
    body {
        background-size: contain; /* Adjust background size for smaller screens */
    }
}
