/* press-start-2p-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/press-start-2p-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  a>img,
  .navbar>ul>li>a {
    cursor: url('/root/cursorgolden.png'), auto;
  }
  
  .cursor-toggle img {
    height: auto;
    cursor: pointer;
    margin-left: 15em;
  
  }
  
  
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background:#f06292; */
    color: #ffffff;
    font-family: "Press Start 2P";
    background: #2a3990;
  }
  
  body {
    overflow-x: hidden;
    font-size: 16px;
  }
  
  
  p {
    font-size: 1.7em;
    margin-bottom: 1rem;
  }
  
  .container {
    height: 100%;
    position: relative;
    min-width: 320px;
    z-index: 2;
  }
  
  .logo {
    display: block;
    text-align: center;
    z-index: 9999;
    position: relative;
  }
  
  
  .logo img {
    display: block;
    margin: auto;
    width: 42vw;
  }
  
  .socials {
    position: absolute;
    z-index: 5;
    top: 10px;
    text-align: center;
    width: 100%;
  }
  
  .disabled-link {
    pointer-events: none;
    cursor: default;
    color: #aaa !important;
  }
  
  .parallax-wrapper {
    overflow-y: hidden;
    height: 80%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .parallax {
    background-size: 100%;
    background-position: left bottom;
    height: 80%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 320px;
  }
  
  #level0 {
    background-image: url('/images/background-1.png');
    background-size: cover;
    background-position: left top;
    z-index: 0;
  }
  
  #level1 {
    background-image: url('/images/tokenomics/level1-token.gif');
    z-index: 1;
  }
  
  #level2 {
    background-image: url('/images/tokenomics/level2-token.gif');
    z-index: 2;
  }
  
  #level3 {
    background-image: url('/images/tokenomics/level3-token.gif');
    z-index: 3;
  }
  
  .content {
    /* padding:5rem; */
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 99999;
    background: #4daea1;
  }
  
  .content>h2 {
    margin: auto;
    padding: 1rem 5vw;
    max-width: 1200px;
  }
  
  /* h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: none!important;
  } */
  
  .stonks img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    max-width: 20%;
    height: auto;
  }

.nerd img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    max-width: 15%;
    height: auto;
}
.gibberish img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    max-width: 25%;
    height: auto;
}
  h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 1.3em;
    line-height: 1.4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .wannaplayagame img {
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
  }
  
  .shrimpcoin img {
    display: block;
    margin-top: 2.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5em;
    max-width: 100%;
    height: auto;
  }
  
  h3 {
    font-weight: lighter;
    text-align:left;
    margin: auto;
    padding: 1rem 5vw;
    margin-bottom: 2em;
    max-width: 1200px;
    font-size: 1.2em;
    line-height: 1.6em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  }
  
  .numbers {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 1rem 5vw;
    max-width: 1200px;
    border-style: solid;
    border-radius: 16px;
    font-size: 1.3em;
  }

.description {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 5vw;
  max-width: 1200px;
  border-style: solid;
  border-radius: 16px;
  font-size: 1em;
}

span.reserve {
  color:#c691f1;
}

span.community {
  color: #ffb12f;
}
span.galxe {
  color: black
}

span.dao {
  color: #00d26a;
}

span.team {
  color: #a56852
}
span.investors {
  color: #00a7ec
}
span.LP {
  color: #fb6623
}


.communities {
  font-size: 0.8em;
}

span.communitiestext {
  text-decoration: underline;
}

span.reservedesc {
  color:#c691f1;
  text-decoration: underline;
}

span.collectionsdesc {
  text-decoration: underline;
}

span.communitydesc {
  color: #ffb12f;
  text-decoration: underline;
}
span.galxedesc {
  color: black;
  text-decoration: underline;
}

span.daodesc {
  color: #00d26a;
}

span.teamdesc {
  color: #a56852;
}
span.investorsdesc {
  color: #00a7ec;
  text-decoration: underline;
}
span.lpdesc {
  color: #fb6623;
  text-decoration: underline;
}

span.daoandteam {
  text-decoration: underline;
}

  .shrimpgame {
    width: 640px;
    height: 480px;
    max-width: 100%;
  }
  
  
  
  footer {
    text-align: left;
    display: block;
    margin: auto;
    font-size: 1.2em;
    padding: 2rem 5vw;
    max-width: 1200px;
  }
  
  .footer span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  .navbar {
    overflow: hidden;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  .navbar ul li {
    float: left;
  }
  
  .navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  /*/ MEDIA QUERIES START HERE //////////////////////////////////////////////////////////////////////////////*/
  
  @media (max-width: 768px) {
    /* Hand Held Device */
  
    body {
      font-size: 13px;
    }
  
    .parallax {
      background-size: 150%;
    }
  
    .logo img {
      width: 60vw;
    }
  
    .characters {
      gap: 1rem;
    }
  
    .character {
      width: 47%;
      margin-bottom: 3%;
      min-width: 200px;
    }
  
    /* .navbar {
      font-size: 1em;
    } */
  }
  
  
  @media (max-width: 524px) {
  
    /*  Mobile */
    .parallax {
      background-size: 200%;
    }
  
    .logo img {
      width: 80vw;
    }
  }
  
  @media screen and (min-width: 3240px) {
    /* 4K */
  
  }